  /*___________________________________________________________________________________________________

                            FORMULARIO DE CONTACTO

______________________________________________________________________________________________________*/

  .formContact {
    font-family: sans-serif;
  }


  .envelope .top-wrapper,
  .envelope .bottom-wrapper {

    background: linear-gradient(45deg, #BB1881, #F88B50);
    color: #fff;

  }
  
  .envelope .top-wrapper {
    padding: 2em 2em 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  
  .envelope .bottom-wrapper {
    padding: 0 2em 2em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
   
  }
  
   
  .envelope form label {
    display: block;
    padding-bottom: 0.5em;
  }
  
  .envelope form input,
  .envelope form textarea {
    width: 100%;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    background: transparent;
    color: #fff;
  }
  

  .envelope form input {
    border-width: 0 0 0.1em;
    border-color: #fff;
    border-style: solid;
  }
  

  .envelope form textarea {
    border: 0.1em solid #fff;
    border-radius: 0.25em;
  }
  

  /* BOTON ENVIAR */
  .envelope form .submit-card {
    background: #fff;
    color: #222;
    text-align: center;
    padding: 0.5em;
    background: #fff;
    width: 100%;
    border: 0;
    border-radius: 0.25em;
    cursor: pointer;
  }
  

  .envelope form .input {
    padding-bottom: 1em;
  }
  
  


/*___________________________________________________________________________________________________

                            SOBRE DETRÁS 
  
______________________________________________________________________________________________________*/

  .envelope {
    position: relative;
    display: block;
     width: 30em;
    height: 35em;
    margin: 0 auto;
  }


  .envelope .content {
    padding: 2em;
    position: relative;
    z-index: 9;

  }

  .envelope .paper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    overflow: hidden;
  }


  .envelope .paper.back:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-bottom: -1px;
    border-style: solid;
    border-width: 0 15em 10em 15em;
    border-color: transparent transparent #d3d3d3 transparent;
    z-index: 0;
  }
  
  .envelope .paper.back:after {
    content: '';
    display: block;
    background-color: #d3d3d3;
    width: 30em;
    height: 20em;
  }
  
  .envelope .paper.front {
    top: 10em;
    -webkit-box-shadow: 0.1em 0.5em 0.5em rgba(0, 0, 0, 0.25);
            box-shadow: 0.1em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    z-index: 0;
  }
  
  .envelope .paper.front:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10em 15em 0 15em;
    border-color: transparent #fff;
  }
  
  .envelope .paper.front:after {
    content: '';
    display: block;
    width: 30em;
    height: 10em;
    background: #fff;
    margin-top: -1px;
  }