/* Scroll Personalizado */

::-webkit-scrollbar {
	width: 12px;
}

/* ::-webkit-scrollbar-thumb {
	background: #ff9d00;
	border-radius: 5px;
} */

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #BB1881, #F88B50);
	border-radius: 5px;
}