@charset "UTF-8";
/*______________________________________________________________________________________________________

                                    ESTILOS GLOBALES & MEDIA QUERY

______________________________________________________________________________________________________*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #BB1881, #F88B50);
  border-radius: 5px;
}

@media (max-width: 767px) {
  #fraseUno, #fraseDos, #fraseTres {
    max-width: 450px;
  }
}

@media (max-width: 991px) {
  #acercaDeMiHome {
    padding-top: 69px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1199px) {
  #aboutSec2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1199px) {
  #btnCv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1199px) {
  #imagenJmDos {
    margin-top: 69px;
  }
}

@media (max-width: 767px) {
  .proyectInfo h2, .proyectInfo p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .proyectInfo, .btnWeb, .ContainerImgProyect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .imgProyect {
    width: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 300px) {
  .proyect {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 991px) {
  #mayorIgualDownContact {
    position: absolute;
    margin-top: 369px;
  }
}

@media (min-width: 991px) {
  #formContactPage {
    max-width: 510px;
  }
}

@media (max-width: 760px) {
  .textoSkills h3, h5, ul {
    text-align: center;
  }
}

@media (max-width: 760px) {
  #textJm p, #textJmDos p {
    text-align: center;
  }
}

@media (max-width: 760px) {
  #acercaDeMiHome p {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .btnAcercaDeMi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 760px) {
  .textContact {
    text-align: center;
  }
}

@media (max-width: 760px) {
  #workflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 766px) {
  #imagenJmDos {
    display: none;
  }
}

@media (max-width: 766px) {
  #imagenJmUno {
    display: none;
  }
}

@media (max-width: 768px) {
  #imagenJmUnoMobile {
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    height: 500px;
    background-image: url("../img/jmConNotebookMobile.png");
    background-size: cover;
  }
}

@media (min-width: 767px) {
  #imagenJmUnoMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  #imagenJmDosMobile {
    margin-top: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    height: 500px;
    background-image: url("../img/jmCasualMobile.png");
    background-size: cover;
  }
}

@media (min-width: 767px) {
  #imagenJmDosMobile {
    display: none;
  }
}

@media (max-width: 1199px) {
  #btnCv {
    display: none;
  }
}

@media (min-width: 1199px) {
  #btnCvMobile {
    display: none;
  }
}

@media (max-width: 1199px) {
  #btnCvMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 69px;
  }
}

#particles-js {
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 0;
}

footer {
  padding-top: 150px;
  padding-bottom: 15px;
}

a, ul {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

/*______________________________________________________________________________________________________

                                    PAGINA HOME

______________________________________________________________________________________________________*/
#header {
  margin-top: -800px;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frases {
  padding-top: 200px;
  padding-bottom: 200px;
}

.info {
  padding-top: 22px;
  padding-bottom: 46px;
  margin-left: 0px;
}

.header h2 {
  padding-top: 40px;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}

/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "ACERCA DE MI"

**********************************************************************************************************/
#acerca h2.mayorIgual {
  color: lime;
  font-size: 2rem;
  font-weight: 300;
}

p.pparrafo {
  font-family: "open sans" sans-serif;
  font-weight: 100;
  font-style: italic;
  line-height: 37px;
  margin: 0px 0px -4px;
  padding: 0px 0px 7px;
  font-size: 1.5rem;
  color: #fff;
}

p.sparrafo, p.tparrafo {
  font-family: "open sans" sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 30px;
  margin: 0;
  padding: 21px 0;
  font-size: 1.5rem;
  color: #fff;
}

.btnAcercaDeMi {
  padding-top: 22px;
}

.btnAcercaDeMi a {
  color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
  padding: 10px;
}

.btnAcercaDeMi a:hover {
  color: #000;
  background: lime;
  border: 1px solid lime;
}

.imagenJm {
  border-radius: 50%;
}

/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "SKILLS"

**********************************************************************************************************/
#skills h2.mayorIgual {
  color: #ffe100;
  font-size: 2rem;
  font-weight: 300;
}

.textoSkills h3 {
  font-family: "Roboto Mono" monospace;
  font-weight: 300;
  font-style: italic;
  line-height: 37px;
  margin: 0px 0px -4px;
  padding: 0;
  font-size: 1.5rem;
  color: #fff;
}

.textoSkills h4 {
  font-size: 1.5rem;
  font-weight: 100;
  padding-bottom: 20px;
}

.textoSkills h5 {
  font-size: 1.5rem;
  padding-top: 20px;
  color: #fff;
}

/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "PROYECTOS"

**********************************************************************************************************/
h2.mayorIgualProject {
  color: #f800a1;
  font-size: 2rem;
  font-weight: 300;
}

#proyectosHome p, h3 {
  color: #fff;
  margin-left: 35px;
  padding-bottom: 15px;
}

#proyectosHome h3 {
  font-size: 1.5rem;
}

#proyectosHome p {
  font-size: 1rem;
}

.proyect {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 15px;
  border: 2px solid #f800a1;
  margin-bottom: 20px;
}

.proyect:hover {
  background: linear-gradient(45deg, #BB1881, #F88B50);
  border: 2px solid #000;
}

.proyect a {
  margin-left: 35px;
}

.proyect .sitioWeb:hover {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "CONTACTO"

**********************************************************************************************************/
#contacto h2.mayorIgual {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.formContact h3, p {
  padding-bottom: 22px;
  color: #fff;
}

.textContact {
  font-size: 1.5rem;
  padding-top: 22px;
  padding-bottom: 149px;
}

.textContact span {
  color: #19b6ff;
  font-style: italic;
}

#formContactHome {
  margin-top: 69px;
  margin-right: 150PX;
}

#mayorIgualDownContact {
  padding-top: 269px;
}

#socialNetwork {
  margin-top: -150px;
}

#socialNetwork ul li {
  padding: 10px;
}

.formContact {
  font-family: sans-serif;
}

.top-wrapper, .bottom-wrapper {
  background: linear-gradient(45deg, #BB1881, #F88B50);
  color: #fff;
}

.top-wrapper {
  padding: 2em 2em 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.bottom-wrapper {
  padding: 0 2em 2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.envelope form label {
  display: block;
  padding-bottom: 0.5em;
}

.envelope form input,
.envelope form textarea {
  width: 100%;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  background: transparent;
  color: #fff;
}

.envelope form input {
  border-width: 0 0 0.1em;
  border-color: #fff;
  border-style: solid;
}

.envelope form textarea {
  border: 0.1em solid #fff;
  border-radius: 0.25em;
}

/* BOTON ENVIAR */
.envelope form .submit-card {
  background: #fff;
  color: #222;
  text-align: center;
  padding: 0.5em;
  background: #fff;
  width: 100%;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
}

.envelope form .input {
  padding-bottom: 1em;
}

/*_________________________________________________________________________________________________________________

                                    PAGINA ACERCA DE MÍ

__________________________________________________________________________________________________________________*/
.header {
  padding-top: 200px;
  margin-top: 0px;
  z-index: 1;
}

#aboutSec1 {
  margin-top: -400px;
  padding-top: 69px;
}

#aboutSec1 p {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-size: 1rem;
  color: #fff;
}

#aboutSec2 {
  padding-top: 69px;
}

#aboutSec2 p {
  font-family: "open sans", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: #fff;
}

#textJm span {
  font-size: 2rem;
  font-weight: bold;
  color: #85fd15;
}

#imagenJmUno {
  margin-top: -22px;
  width: 100%;
  height: 580px;
  background-image: url("../img/jmConNotebook.png");
  background-size: cover;
}

#imagenJmDos {
  height: 580px;
  background-image: url("../img/jmCasual.png");
  background-size: cover;
}

.cv {
  color: #ffe100;
  font-size: 19px;
  background-color: #000;
  padding: 25px;
  border: 0;
  border: 1px solid #ffe100;
}

.cv:hover {
  background: #ffe100;
  color: #000;
  width: 280px;
}

#btnCv {
  padding-top: 25px;
}

/*_________________________________________________________________________________________________________________

                                    PAGINA SKILLS

__________________________________________________________________________________________________________________*/
#skillsJm {
  margin-top: -400px;
}

#textoSkills h3, h5 {
  color: #fff;
  font-size: 1.5rem;
}

/*_________________________________________________________________________________________________________________

                                    PAGINA PROYECTOS

__________________________________________________________________________________________________________________*/
#projectPage {
  margin-top: -400px;
}

.textoProyecto p {
  font-family: "open sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

.titleProject {
  padding-bottom: 15px;
  font-family: "open sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.btnProject {
  color: #f800a1;
  font-size: 16px;
  background-color: #000;
  padding: 10px;
  border: 0;
  border: 1px solid #f800a1;
}

.btnProject:hover {
  color: #6ba6d6;
  background-color: #f800a1;
  font-weight: bold;
}

.imgProyect {
  margin-top: -55px;
}

.proyectInfo {
  padding-bottom: 100px;
}

.imgProyect {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/*_________________________________________________________________________________________________________________

                                    PAGINA CONTACTO

__________________________________________________________________________________________________________________*/
#containerForm {
  margin-top: -345px;
}

.info p {
  font-size: 1.5rem;
}

#infoContactPage {
  max-width: 1366px;
}
/*# sourceMappingURL=estilos.css.map */