/*______________________________________________________________________________________________________

                                    ESTILOS PERSONALIZADOS

______________________________________________________________________________________________________*/

/*______________________________________________________________________________________________________

                                    ESTILOS GLOBALES & RESPONSIVE

______________________________________________________________________________________________________*/

// MIXINS DE TITULO DE LAS SECCIONES DE LA HOME <TITLE>
@mixin mayorIgual($color, $font-size, $font-weight){

  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;

}

// MIXINS DE TODOS LOS DIV QUE TIENEN CONTINDO DENTRO DEL <TITLE>
@mixin infoentreMayorIgual($padding-top, $padding-bottom, $margin-left){

  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  margin-left: $margin-left;

}


// MIXINS DE PARRAFOS DE LA SECCION HOME/ACERCA
@mixin fontStyle($font-family, $font-weight, $font-style, $line-height, $margin, $padding, $font-size, $color){

  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
  margin:$margin;
  padding: $padding;
  font-size: $font-size;
  color: $color;

}

/* ESTILOS PARA VERS. MOBILE */
@media (max-width: 800px) {

  body {
    
    margin-left: 0px;

  }
}

/* Scroll Personalizado */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #BB1881, #F88B50);
	border-radius: 5px;
}


/* TO DO: 
1. LA IMAGEN DE JM INVIRTIENDO EL ORDEN DE LAS COLUMNAS PARA POCISIONAR LA MISMA PRIMERA. 
2. COLOCAR MENOS PX EN LAS IMG. DE LAS FRASES PARA RESPONSIVE.
*/ 
@media (max-width: 800px) {

  .imagenJm, #fraseUno, #fraseDos, #fraseTres {
    
    display:none;

  }
}

@media (max-width: 800px) {

  #proyectosHome {
    
    margin-left: 0px;

  }
}

#particles-js {
  width: 100%;
  height: 600px;
  background: #000;
  z-index: 0;
}

footer {
  padding-top: 150px;
  padding-bottom: 15px;
}

a, ul {
  text-decoration: none;
  color: white;
  list-style-type: none;
}


/*______________________________________________________________________________________________________

                                    PAGINA HOME

______________________________________________________________________________________________________*/

/* SECCION HEADER*/
#header {
  margin-top: -775px;
  z-index: 1;
  align-items: center;
}
  
#acerca {

    margin-top: -120px;

}

/* FRASES */
.frases {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ESTILOS APLICADO A TODOS LOS DIV QUE TIENEN CONTINDO DENTRO DE <> | $padding-top, $padding-bottom, $margin-left*/
 .info {
  
  @include infoentreMayorIgual(22px, 46px, 40px)
  
}

/* ESTILOS APLICADOS A LAS IMAGENES CON FRASES */
#fraseUno, #fraseDos, #fraseTres {
  width: 650px;
}

.header h2 {
  padding-top: 40px;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}


/*********************************************************************************************************
    
    ESTILOS DE LA SECCIÓN "ACERCA DE MI"
    
**********************************************************************************************************/

//Estilo aplicado al título <acerca>
#acerca h2.mayorIgual {
  
  @include mayorIgual(lime, 40px, 300)

}

/* Estilos al primer párrafo de sección "Acerca de mí" */
p.pparrafo {

  @include fontStyle('Roboto Mono' monospace, 100, italic, 37px, 0px 0px -4px, 0px 0px 7px, 28px, #fff)

}

/* Estilos al segundo y tercer párrafo de sección "Acerca de mí" */
 p.sparrafo, p.tparrafo {

   @include fontStyle("open sans" sans-serif, 300, normal, 30px, 0, 21px 0, 21px, #fff)

 }


/* Estilos al enlace "Más sobre mí" */
.btnAcercaDeMi {
  padding-top: 22px;
  a {
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    padding: 10px;
  }

  a:hover {
   color: #000;
   background: lime;
   border: 1px solid lime;
 }
}

.imagenJm {
  width: 422px;
  margin-top: -57px;
  border-radius: 50%;
  
}

/*********************************************************************************************************
    
    ESTILOS DE LA SECCIÓN "SKILLS"
    
**********************************************************************************************************/

/* Estilos aplicados al Título <skills> */
#skills h2.mayorIgual {
  
  @include mayorIgual(#ffe100, 40px, 300)

}

/* Estilos aplicados a las etiquetas h3, h4 y h5 */
#textoSkills {

  h3 { @include fontStyle('Roboto Mono' monospace, 300, italic, 37px, 0px 0px -4px, 0, 30px, #fff);
  }
  
  h4 {
    font-weight: 100;
    padding-bottom: 20px;
  }

  h5 {
      padding-top: 20px;
      color: #fff;  

  }
}


/*********************************************************************************************************
    
    ESTILOS DE LA SECCIÓN "PROYECTOS"
    
**********************************************************************************************************/

/* Estilos aplicados al Título <proyectos> */
h2.mayorIgualProject {
  
  @include mayorIgual(#f800a1, 40px, 300)

}


/* Estilos aplicados a las clases de todos los proyectos para crear el borde, espaciado interno y margen*/
.proyect {

  padding-top: 45px;

  padding-bottom: 45px;

  border: 2px solid #f800a1;

  margin-bottom: 20px;

}


/* Estilos aplicados a las etiquetas p,h3,h4 del div de la sección "proyectos" */
#proyectosHome p, h3 {

  color: #fff;

  margin-left: 35px;

  padding-bottom: 15px;

}


/* Estilos aplicacios al enlace "ver sitio web" y al fondo cuando se hace hover */
 .proyect {

  &:hover { 
    background: linear-gradient(45deg, #BB1881, #F88B50);
    border: 2px solid #000;
    
  }

  a { margin-left: 35px; }

  .sitioWeb:hover {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }

}


/*********************************************************************************************************
    
    ESTILOS DE LA SECCIÓN "CONTACTO"
    
**********************************************************************************************************/

/* Estilos aplicados al Título <contacto> */
#contacto h2.mayorIgual {
  
  @include mayorIgual(#fff, 40px, 300)

}

.formContact h3, p {
  padding-bottom: 22px;
  color: #fff;
}

.textContact {

  font-size: 25px;
  padding-top: 22px;
  padding-bottom: 149px;

  span {
    color: #19b6ff;
    font-style: italic;
  }
}


#formContactHome {

  margin-top: 69px;
  margin-right: 150PX;

} 

#mayorIgualDownContact {

  padding-top: 169px;

}


/*_________________________________________________________________________________________________________________

                                    PAGINA ACERCA DE MÍ

__________________________________________________________________________________________________________________*/

.header {
  padding-top: 200px;
  margin-top: 0px;
  z-index: 1;
}

#aboutSec1 {
  margin-top: -400px;
}

#aboutSec1, #aboutSec2 {
  padding-top: 69px;
}

#aboutSec1 p {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-size: 20px;
  color: #fff;
}

#textJm span {

  font-size: 50px;
  font-weight: bold;
  color: #85fd15;

}

#aboutSec2 p {
  font-family: "open sans", sans-serif;
  font-style: normal;
  font-size: 23px;
  color: #fff;
}

#imagenJmUno {
  margin-top: 45px;
  width: 580px;
}

#imagenJmDos {

  width: 580px;

}

// #acercaParteDos p {
//   font-family: "open sans", sans-serif;
//   font-size: 20px;
//   line-height: 30px;
//   padding-bottom: 45px;
//   color: #fff;
//   text-align: left;
// }

/* Estilos aplicados al botón "Curriculum Vitae (PDF) de la página "Acerca de mí" */
.cv {
  color: #ffe100;
  font-size: 19px;
  margin-left: 35px;
  background-color: #000;
  padding: 25px;
  border: 0;
  border: 1px solid #ffe100;
  margin-left: 150px;
}

#btnCv {
  padding-top: 25px;
}

.imagenJm3 {
  margin-top: 22px;
  width: 470px;
}

/* Sección Acerca de mí  */
#acercaDeMiUno {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 36px;
}

#acercaDeMiDos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#acercaDeMiDos p {
  font-family: "open sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 45px;
  color: #fff;
  text-align: left;
}

/*_________________________________________________________________________________________________________________

                                    PAGINA SKILLS

__________________________________________________________________________________________________________________*/

#skillsJm {
  margin-top: -400px;
}

/*_________________________________________________________________________________________________________________

                                    PAGINA PROYECTOS

__________________________________________________________________________________________________________________*/

#proyectos {
  margin-top: -400px;
}

.textoProyecto h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
}

.textoProyecto p {
  padding-bottom: 0px;
  padding-top: 15px;
  font-family: "open sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.btnProject {
  margin-left: 10px;
  color: #f800a1;
  font-size: 16px;
  background-color: #000;
  padding: 10px;
  border: 0;
  border: 1px solid #f800a1;
}

.btnProject:hover {
  color: rgb(107, 166, 214);
  background-color: #f800a1;
  font-weight: bold;
}

/*_________________________________________________________________________________________________________________

                                    PAGINA CONTACTO

__________________________________________________________________________________________________________________*/

