/*______________________________________________________________________________________________________

                                    ESTILOS GLOBALES & MEDIA QUERY

______________________________________________________________________________________________________*/

// MIXINS DE TITULO DE LAS SECCIONES DE LA HOME <TITLE>
@mixin mayorIgual($color, $font-size, $font-weight){

  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;

}

// MIXINS DE TODOS LOS DIV QUE TIENEN CONTINDO DENTRO DEL <TITLE>
@mixin infoentreMayorIgual($padding-top, $padding-bottom, $margin-left){

  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  margin-left: $margin-left;

}

// MIXINS DE PARRAFOS DE LA SECCION HOME/ACERCA
@mixin fontStyle($font-family, $font-weight, $font-style, $line-height, $margin, $padding, $font-size, $color){

  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;
  line-height: $line-height;
  margin:$margin;
  padding: $padding;
  font-size: $font-size;
  color: $color;

}

// SROLL BAR
::-webkit-scrollbar {
	  width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #BB1881, #F88B50);
	  border-radius: 5px;
}

// RESPONSIVE IMAGEN DE FRASES
@media (max-width: 767px) {

  #fraseUno, #fraseDos, #fraseTres {

    max-width: 450px;

  }
}

// ESTILOS APLICADOS A LA SECCION ACERCA DE MI DE LA HOME, MAX-WIDTH 991PX SE INVIERTA LAS COLUMNAS DE TEXTO Y FOTO JM
 @media (max-width: 991px) {

  #acercaDeMiHome {

    padding-top: 69px;
    display: flex;
    flex-direction: column-reverse;

  }
}

// ESTILOS APLICADOS AL SEGUNDO PARRAFO E IMAGEN DE LA PAGINA ACERCA DE MI, MAX-WIDTH 1199PX SE INVIERTA LAS COLUMNAS DE TEXTO Y FOTO JM
@media (max-width: 1199px) {

  #aboutSec2 {

    display: flex;
    flex-direction: column-reverse;

  }
}

// BOTON "Curriculum Vitae (PDF)" CON RESPONSIVE, TENGA ALINEACION CENTRADA
@media (max-width: 1199px) {

  #btnCv {

    display: flex;
    justify-content: center;

  }
}

// TODO.
@media (max-width: 1199px) {

  #imagenJmDos {

    margin-top: 69px;

  }
}


// ESTILOS RESPONSIVE APLICADOS A LA PÁGINA PROYECTOS
@media (max-width: 767px) {

  .proyectInfo {

    & h2, p {text-align: center};


  }
}

// PAGINA PROYECTOS. RESPONSIVE LOS ELEMENTOS ESTEN ALINEADOS AL CENTRO.
@media (max-width: 767px) {

  .proyectInfo, .btnWeb, .ContainerImgProyect {

    display: flex;
    justify-content: center;

  }
}

// PAGINA PROYECTOS. RESPONSIVE LAS IMAGENES DE CADA PROYECTO TENGAN UN WIDTH DE 400PX.
@media (max-width: 767px) {

  .imgProyect {

    width:400px;
    align-items: center;

}
}

// PAGINA HOME. RESPONSIVE LOS DIV QUE CONTIENEN TITULO Y PARRAFO DE LOS PROYECTOS, OBTENGAN PADDING LEFT & RIGHT.
  @media (min-width: 300px) {

  .proyect {

    padding-left: 45px;
    padding-right: 45px;

}
}

// PAGINA HOME. SECCION CONTACTO, EN RESPONSIVE
@media (max-width: 991px) {

  #mayorIgualDownContact {

    position:absolute;
    margin-top: 369px;

}
}


// ESTILOS AL DIV DEL FORMULARIO DE LA PAGINA CONTACTO
@media (min-width: 991px) {

  #formContactPage {

    max-width: 510px;
  }
}

// ESTILOS AL DIV CON TEXTO DE LA PÁGINA MIS HABILIDADES. CENTRAR TEXTO EN MOBILE.
@media (max-width: 760px) {

  .textoSkills h3, h5, ul {

    text-align: center;
  }
}

// PAGINA ACERCA DE MI. RESPONSIVE, EL TEXTO ALINEAR AL CENTRO.
@media (max-width: 760px) {

  #textJm p, #textJmDos p {

    text-align: center;

  }
}

// PAGINA HOME. RESPONSIVE, ALINEAR AL CENTRO TODO EL TEXTO.
@media (max-width: 760px) {

  #acercaDeMiHome p {

    text-align: center;

  }
}

// PAGINA HOME. RESPONSIVE, ALINEAR AL CENTRO TODO EL BOTON "MAS SOBRE MI"
@media (max-width: 760px) {

  .btnAcercaDeMi {

  display: flex;
  justify-content: center;

  }
}

// PAGINA HOME, SECCION CONTACTO Y PAGINA CONTACTO. RESPONSIVE, ALINEAR EL TEXTO AL CENTRO.
@media (max-width: 760px) {

  .textContact {

    text-align: center;

  }
}

// PAGINA HOME, SECCION HABILIDADES, RESPONSIVE EL DIV CON EL TITULO Y TEXTO DE WORKFLOW CENTRADO.
@media (max-width: 760px) {

  #workflow {

    display: flex;
    justify-content: center;

  }
}


// PAGINA ACERCA DE MI. RESPONSIVE IMAGENES.
@media (max-width: 766px) {

  #imagenJmDos {

    display: none;

   }
}

@media (max-width: 766px) {

  #imagenJmUno {

    display: none;

   }
}

@media (max-width: 768px) {

  #imagenJmUnoMobile {

    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 400px;
    width: 85%;
    height: 500px;
    background-image: url('../img/jmConNotebookMobile.png');
    background-size: cover;

   }
}

@media (min-width: 767px) {

  #imagenJmUnoMobile {

    display: none;

   }
}


@media (max-width: 768px) {

  #imagenJmDosMobile {

    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 400px;
    width: 85%;
    height: 500px;
    background-image: url('../img/jmCasualMobile.png');
    background-size: cover;


   }
}

@media (min-width: 767px) {

  #imagenJmDosMobile {

    display: none;

   }
}

// BOTON CV
@media (max-width: 1199px) {

  #btnCv {

    display: none;

   }
}

@media (min-width: 1199px) {

  #btnCvMobile {

    display: none;

   }
}

@media (max-width: 1199px) {

  #btnCvMobile {

    display: flex;
    justify-content: center;
    padding-top: 69px;

   }
}


// ESTILOS APLICADOS AL DIV QUE CONTIENE EL FONDO DE LAS PARTICULAS ANIMADAS.
#particles-js {
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 0;
}


footer {
  padding-top: 150px;
  padding-bottom: 15px;
}


a, ul {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

/*_________________________________________________________________________________________________________________

                                    NAV MENU

__________________________________________________________________________________________________________________*/

@-webkit-keyframes "fadeInRight" {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@keyframes "fadeInRight" {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@media (max-width: 760px) {
	.nav-menu {
		ul {
			display: block;
			a {
				background: linear-gradient(45deg, #BB1881, #F88B50);
			}
		}
	}
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}
html {
	box-sizing: border-box;
}
.nav-trigger {
	width: 45px;
	height: 50px;
	position: fixed;
	top: 25px;
	right: 35px;
	z-index: 20;
	cursor: pointer;
	-webkit-transition: top 0.1s ease-in-out;
	transition: top 0.1s ease-in-out;
	span {
		display: block;
		width: 100%;
		height: 2px;
		background: rgb(255, 0, 221);
		margin: 7px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
		&:first-child {
			top: 0;
			left: 0;
		}
		&:nth-child(2) {
			width: 20px;
			top: 10px;
			left: 0;
		}
		&:last-child {
			top: 20px;
			left: 0;
		}
	}
	.on {
		top: 10px;
	}
}
.nav-trigger.on {
	span {
		&:first-child {
			-webkit-transform: translateY(10px) rotate(45deg);
			transform: translateY(10px) rotate(45deg);
		}
		&:nth-child(2) {
			-webkit-transform: translateX(50px);
			transform: translateX(50px);
			opacity: 0;
		}
		&:last-child {
			-webkit-transform: translateY(-8px) rotate(-45deg);
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}
.nav-trigger-dark {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 20;
	cursor: pointer;
	-webkit-transition: top 0.1s ease-in-out;
	transition: top 0.1s ease-in-out;
	span {
		display: block;
		width: 100%;
		height: 2px;
		background: #000;
		margin: 7px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.3);
		&:first-child {
			top: 0;
			left: 0;
		}
		&:nth-child(2) {
			width: 20px;
			top: 10px;
			left: 0;
		}
		&:last-child {
			top: 20px;
			left: 0;
		}
	}
	.on {
		top: 10px;
	}
}
.nav-trigger-dark.on {
	span {
		&:first-child {
			-webkit-transform: translateY(10px) rotate(45deg);
			transform: translateY(10px) rotate(45deg);
		}
		&:nth-child(2) {
			-webkit-transform: translateX(50px);
			transform: translateX(50px);
			opacity: 0;
		}
		&:last-child {
			-webkit-transform: translateY(-8px) rotate(-45deg);
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}
.nav-menu {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 19;
	overflow: hidden;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		max-width: 100%;
		text-align: center;
		position: relative;
		-webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
		transition: opacity 0.35s, visibility 0.35s, height 0.35s;
		a {
			position: relative;
			float: left;
			margin: 0;
			width: 20%;
			height: 100vh;
			text-align: center;
			cursor: pointer;
			background: #000;
			color: #fff;
			text-decoration: none;
			li {
				position: absolute;
				text-transform: uppercase;
				font-family: "Advent Pro", sans-serif;
				top: 45%;
				left: 0;
				position: relative;
				-webkit-animation: fadeInRight 0.5s ease forwards;
				animation: fadeInRight 0.5s ease forwards;
			}
			h2.mb {
				-webkit-transition: -webkit-transform 0.35s;
				transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				transition: transform 0.35s, -webkit-transform 0.35s;
				margin-bottom: 2px;
				font-size: 2.25rem;
			}
			h2.mt {
				-webkit-transition: -webkit-transform 0.35s;
				transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
				transition: transform 0.35s, -webkit-transform 0.35s;
				margin-bottom: -100px;
				font-size: 2.25rem;
			}
			i {
				font-style: normal;
				opacity: 0;
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
				transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
				-webkit-transform: translate3d(0, -30px, 0);
				transform: translate3d(0, -30px, 0);
				font-size: 1.875rem;
			}
			&:hover {
				background: linear-gradient(45deg, #BB1881, #F88B50);
				color: #fff;
				h2 {
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
				i {
					opacity: 1;
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}
			}
		}
		a.active {
			background: #fff;
			color: #e65454;
			&:hover {
				color: #000;
			}
		}
	}
}
.bgwhite {
	background: #fff;
}
@media (max-width: 1480px) {
	.nav-menu {
		ul {
			a {
				width: 100%;
				height: 20vh;
			}
		}
	}
	.logoJM {
		padding-left: 15px;
		float: left;
	}
}
@media (max-width: 30em) {
	.nav-menu {
		ul {
			a {
				li {
					top: 25%;
				}
				h2.mb {
					font-size: 1.688rem;
				}
				h2.mt {
					font-size: 1.688rem;
				}
				i {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 48em) and (max-width: 61.9375em) {
	.nav-menu {
		ul {
			a {
				h2.mb {
					font-size: 2rem;
					margin-bottom: -13px;
				}
				h2.mt {
					font-size: 2rem;
				}
			}
		}
	}
}


/*______________________________________________________________________________________________________

                                    PAGINA HOME

______________________________________________________________________________________________________*/

// HEADER
#header {
  margin-top: -800px;
  z-index: 1;
  align-items: center;
}


// FRASES - PADDING TOP & BOTTOM
.frases {
  padding-top: 200px;
  padding-bottom: 200px;
}

// ESTILOS APLICADO A TODOS LOS DIV QUE TIENEN CONTINDO DENTRO DE <> | $padding-top, $padding-bottom, $margin-left
 .info {

  @include infoentreMayorIgual(22px, 46px, 0px)

}


.header h2 {
  padding-top: 40px;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}


/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "ACERCA DE MI"

**********************************************************************************************************/

//Estilo aplicado al título <acerca>
#acerca h2.mayorIgual {

  // @include mayorIgual(lime, 40px, 300)
  @include mayorIgual(lime, 2rem, 300)

}

// Estilos al primer párrafo de sección "Acerca de mí"
p.pparrafo {

  @include fontStyle("open sans" sans-serif, 100, italic, 37px, 0px 0px -4px, 0px 0px 7px, 1.5rem, #fff)

}

// Estilos al segundo y tercer párrafo de sección "Acerca de mí"
 p.sparrafo, p.tparrafo {

   @include fontStyle("open sans" sans-serif, 100, normal, 30px, 0, 21px 0, 1.5rem, #fff)

 }


// Estilos al enlace "Más sobre mí"
.btnAcercaDeMi {
  padding-top: 22px;
  a {
    color: #fff;
    font-size: 1rem;
    border: 1px solid #fff;
    padding: 10px;
  }

  a:hover {
   color: #000;
   background: lime;
   border: 1px solid lime;
 }
}


.imagenJm {

  border-radius: 50%;

}


/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "SKILLS"

**********************************************************************************************************/

// Estilos aplicados al Título <skills>
#skills h2.mayorIgual {

  @include mayorIgual(#ffe100, 2rem, 300)

}

// Estilos aplicados a las etiquetas h3, h4 y h5
.textoSkills {

  h3 { @include fontStyle('Roboto Mono' monospace, 300, italic, 37px, 0px 0px -4px, 0, 1.5rem, #fff);
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 100;
    padding-bottom: 20px;
  }

  h5 {

      font-size: 1.5rem;
      padding-top: 20px;
      color: #fff;

  }
}


/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "PROYECTOS"

**********************************************************************************************************/

// Estilos aplicados al Título <proyectos>
h2.mayorIgualProject {

  @include mayorIgual(#f800a1, 2rem, 300)

}


// Estilos aplicados a las etiquetas p,h3,h4 del div de la sección "proyectos"
#proyectosHome p, h3 {

  color: #fff;

  margin-left: 35px;

  padding-bottom: 15px;

}

#proyectosHome h3 {

  font-size: 1.5rem;
}

#proyectosHome p {

  font-size: 1rem;
}


// Estilos aplicados a: borde, espaciado interno y margen, enlace "ver sitio web" y al fondo cuando se hace hover
 .proyect {


  padding-top: 45px;

  padding-bottom: 45px;

  padding-left: 15px;

  border: 2px solid #f800a1;

  margin-bottom: 20px;

  &:hover {
    background: linear-gradient(45deg, #BB1881, #F88B50);
    border: 2px solid #000;

  }

  a { margin-left: 35px; }

  .sitioWeb:hover {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
}


/*********************************************************************************************************

    ESTILOS DE LA SECCIÓN "CONTACTO"

**********************************************************************************************************/

// Estilos aplicados al Título <contacto>
#contacto h2.mayorIgual {

  @include mayorIgual(#fff, 2rem, 300)

}

.formContact h3, p {
  padding-bottom: 22px;
  color: #fff;
}

.textContact {

  font-size: 1.5rem;
  padding-top: 22px;
  padding-bottom: 149px;

  span {
    color: #19b6ff;
    font-style: italic;
  }
}


#formContactHome {

  margin-top: 69px;
  margin-right: 150PX;

}

#mayorIgualDownContact {

  padding-top: 269px;

}

#socialNetwork {

  margin-top: -150px;

}

// PAGINA CONTACTO. PADDING A LA LISTA DE ICONOS DE REDES SOCIALES.
#socialNetwork ul li {

  padding: 10px;

}

//FORMULARIO DE CONTACTO
.formContact {
  font-family: sans-serif;
}

.top-wrapper, .bottom-wrapper {

  background: linear-gradient(45deg, #BB1881, #F88B50);
  color: #fff;

}

.top-wrapper {
  padding: 2em 2em 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.bottom-wrapper {
  padding: 0 2em 2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

}

.envelope form label {
  display: block;
  padding-bottom: 0.5em;
}

.envelope form input,
.envelope form textarea {
  width: 100%;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background: transparent;
  color: #fff;
}

.envelope form input {
  border-width: 0 0 0.1em;
  border-color: #fff;
  border-style: solid;
}

.envelope form textarea {
  border: 0.1em solid #fff;
  border-radius: 0.25em;
}


/* BOTON ENVIAR */
.envelope form .submit-card {
  background: #fff;
  color: #222;
  text-align: center;
  padding: 0.5em;
  background: #fff;
  width: 100%;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
}

.envelope form .input {
  padding-bottom: 1em;
}


/*_________________________________________________________________________________________________________________

                                    PAGINA ACERCA DE MÍ

__________________________________________________________________________________________________________________*/

.header {
  padding-top: 200px;
  margin-top: 0px;
  z-index: 1;
}


#aboutSec1 {
  margin-top: -400px;
  padding-top: 69px;

  p {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 1rem;
    color: #fff;

  }
}


#aboutSec2 {
  padding-top: 69px;

  p {
  font-family: "open sans", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: #fff;
}
}


#textJm span {
  font-size: 2rem;
  font-weight: bold;
  color: #85fd15;

}


#imagenJmUno {

  margin-top: -22px;
  width: 100%;
  height: 580px;
  background-image: url('../img/jmConNotebook.png');
  background-size: cover;

 }


#imagenJmDos {
  // width: auto;
  height: 580px;
  background-image: url('../img/jmCasual.png');
  background-size: cover;

}




// Estilos aplicados al botón "Curriculum Vitae (PDF) de la página "Acerca de mí"
.cv {
  color: #ffe100;
  font-size: 19px;
  // margin-left: 35px;
  background-color: #000;
  padding: 25px;
  border: 0;
  border: 1px solid #ffe100;
  // margin-left: 150px;

  &:hover {

    background: #ffe100;
    color: #000;
    width: 280px;
  }
}

#btnCv {
  padding-top: 25px;
}


/*_________________________________________________________________________________________________________________

                                    PAGINA SKILLS

__________________________________________________________________________________________________________________*/

#skillsJm {
  margin-top: -400px;
}

#textoSkills h3, h5 {

  color: #fff;
  font-size: 1.5rem;

}

/*_________________________________________________________________________________________________________________

                                    PAGINA PROYECTOS

__________________________________________________________________________________________________________________*/

#projectPage {
  margin-top: -400px;
}


   .textoProyecto p {
     font-family: "open sans", sans-serif;
     font-weight: 300;
     font-size: 1rem;
     color: #fff;
   }

 .titleProject {
   padding-bottom: 15px;
   font-family: "open sans", sans-serif;
   font-weight: bold;
   font-size: 2rem;
   color: #fff;
 }

.btnProject {
  // margin-left: 10px;
  color: #f800a1;
  font-size: 16px;
  background-color: #000;
  padding: 10px;
  border: 0;
  border: 1px solid #f800a1;
}

.btnProject:hover {
  color: rgb(107, 166, 214);
  background-color: #f800a1;
  font-weight: bold;
}

.imgProyect {

  margin-top: -55px;

}

.proyectInfo {

  padding-bottom: 100px;

}

//ESTILO ANIMACIÓN A LAS IMAGENES DE LOS PROYECTOS
.imgProyect {

    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;

    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
}

/*_________________________________________________________________________________________________________________

                                    PAGINA CONTACTO

__________________________________________________________________________________________________________________*/

#containerForm {

  margin-top: -345px;

}

.info p {

  font-size: 1.5rem;

}

#infoContactPage {

  max-width: 1366px;


}

